django
django-extensions
werkzeug
django-jsonfield
django-debug-toolbar
python-slugify
django-pgcli
bpython
gunicorn
# to handle Postgresql databases
psycopg2

# use database urls to populate Django DATABASES dictionary
dj-database-url

# Use Twitter Bootstrap
django-bootstrap3
